*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    margin: 10px;
    list-style: none;
    display: inline-block;
   
}
        
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;
   

}
ul a{
    text-decoration: none;
   
}
nav button .btn{
    border: none;
}
body{
    background-image: url(https://gotrip-next.vercel.app/img/masthead/1/bg.webp);
    background-size: cover;
    
}

.submenu{
    background-color: aliceblue;

    width: 80px;
    position: absolute;
    
    display: none;
    
}
.hasmenu{
    position: relative;
   
    
}
.hasmenu:hover .submenu{
    display:block;
}
.text{
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    color: aliceblue;
}
